<% include header %>
 <div class="container">
 	<center>
 		<h1>Manage Admins</h1>
 		<hr>
 	</center>

	<div class="row">
		<div class="col-md-6">
			<div class="card text-center">
				<div class="card-header">
					Add an admin
				</div>
				<div class="card-body">
					<form action="admins" method="post">
						<input type="text" name="username" id="username" placeholder="Give a unique username" class="form-control">
						<br>
						<input type="password" name="password" id="password" placeholder="Give a strong password" class="form-control">
						<br>
						<input type="email" name="email" id="email" placeholder="Provide a valid email" class="form-control">
						<br>
						<input type="fname" name="fname" id="fname" placeholder="Full Name of Admin" class="form-control">
						<br>
						<input type="submit" value="Add Admin" class="btn btn-success">


						


					</form>



				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card ">
				<div class="card-header text-center">
					List of Admins
				</div>
				<div class="card-body">
					

					<% if (aL.length>0){
						%> 
						<ol>



						<%

				for(i=0;i<aL.length;i++){
					%>
					<li>
					<a href = 'profile/<%=aL[i].username %>' > 
					<%=aL[i].username %>
					</a>   
					<a href ='remove/admin/<%=aL[i].username %>'> <i class="fa fa-trash" style="padding: 15px;color: red">  </i> </a>

					</li>


					<%
				}
			}
			else{
				%>
				No admins to Show
				<%
			}


			%>
			</ol>




				</div>
			</div>
			
			

		</div>
	</div>






 </div>







<!--modal for admins errors -->






<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Info </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
     


  <% 

    if(admins.length>0){

      %>
     <script>
      $('#exampleModal').modal('show');

     </script>

       <%
      for(i=0;i<admins.length;i++){


  %>
  <%= admins[i].msg %>
    <br>
    
    <% 
    }
    }

  %>

 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






<% include footer %>